@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        A reset email has been sent.
    </p>
    <p class="text-danger">
        For DEMO only.
    </p>
</div>

