@{
    ViewBag.Title = "Our Story";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h1 class="text-success">Douglas Pub</h1>
    <h3>@ViewBag.Message</h3>
</hgroup>

<div class="row-fluid">
    <div class="col-md-6">
        <h4>
            Douglas Pub is operating in one of the busiest district of Hong Kong!
            We have created the unique elements which evoke the London pub “atmosphere” and the tradition of Hong Kong.
            Foods and Drinks are our fascinating focus.
        </h4>

        <h4>Please try our international favourites including burgers, pizza & pastas and healthy salads. We serves the best pint in Hong Kong as well as a pioneer for Craft Beers.</h4>
        <h4>We broadcasts the sport events with particular focus on Rugby and Football.</h4>
    </div>

    <div class="col-md-6">
        <img width="400" height="524" src="~/Content/img/Guinness-Pint.jpg" class="vc_single_image-img attachment-full" alt="Guinness-Pint">
    </div>

</div>
