@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
</hgroup>

<div>
    <address>
        G/F, Tin Hau Apple Mall,<br />
        No. 14 King’s Road,<br />
        Hong Kong<br /> 
        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><a>  (+852) 6011 5044</a><br />
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:dhks11@gmail.com">  dhks11@gmail.com</a><br />
    </address>
</div>
